*{margin: 0;
  padding:0 ;
  


}
body{
	font-family: "微软雅黑";
  font-size:14px;
    background:#f8f8f8;
}

li{
	list-style: none;
}
input,select,textarea{
	outline: none;
}
textarea{
	resize:none;
}
a{
	text-decoration: none;
	color: #8A8787;
  
}
a:hover{
	color:#ff6825;
}
/* 清除浮动*/
.clearfix:after{content:"";display: block;clear: both;}
.clearfix{zoom:1;}

.top{
	width:100%;
	height:27px;
	background-color:#F1F0F0;
	
}
.topContent{
	width:1300px;
	margin:0 auto;
	height:27px;
	line-height: 27px;
	text-align: center;
}
.leftArea{
 	float: left;

}
span{
	color:#8C8080;
}
.rightArea ul li{
	
	float : right ;	
	width :100px;
	position:relative;

}
.rightArea ul li ul li{
	float:none;	
	margin-top: 2px;
	background:#fff;
	z-index:100;
}
.rightArea ul li ul{
	position: absolute;
	display:none;
    background:white;
    
}
.rightArea ul li:hover ul{
	display:block;
}
.wrap-all{
	width:100%;
	//height:486px;
	//background:url(../images/轮播back.jpg)no-repeat center top #eae1a0;

}
.wrap{
	background:white;
	width:100%;
	height:80px;

}

.logo{
	height:80px;	
	width:1300px;
	margin:0 auto;
	

}
.logo-left{
	width:10%;
	float: left;
	height:80px;

}
.logo-mid{
    width:90%;
    float: left;
	//background:blue;
	height:80px;
}
.logo-mid-left{
	height:36px;
	float:left;
}
.search-text{                                               
	width:440px;
	height:33px;
	margin-top:20px;
	margin-left:90px;
   // background:url(../images/search.jpg)no-repeat right center;
    background-color:#fff;
    border: 3px solid #ff6825;
}
.btn-search{
	font-size: 16px;
    color: #FFF;
    background-color:#ff6825;
    cursor: pointer;
    
    width:65px;
    border: none;
    height:35px;
    margin-left:-65px;
}
.logo-mid-right{
	float:left;
	height:39px;
	margin-left:70px;
	margin-top:11px;
	width:430px;
}
.shop-left{
	float:left;
}
.shopcar{
	background:#ff6825;
	width:100px;
	height:39px;
	float:left;
	margin-top:20px;
	margin-left:16px;

}
.shopcar a{
	float:left;
	color:white;
	font-size:14px;
	//font-weight:bold;
	height:39px;
	line-height:39px;
	vertical-align:middle;
	margin-left:3px;

}
.shopcar .num{
	background:red;
	height:20px;
	width:20px;
}
/* .logo-right{
	width:10%;
	float: right;	
	height:80px;
    line-height:80px;
    //background: red;
}

.logo-right a{
	color: #ff6825;
	position:relative;
    
}
.logo-right img {
    
	vertical-align: middle;
	margin-right:10px;
}
.logo-right a ul {
	
	display:none;
}
.logo-right a:hover ul{
    display:block;
    
	
}

.logo-right a ul li img{
	margin-top:20px;
	position:absolute;
	background:#fff;
	z-index:6;
} */
.nav-all{
	width:100%;
	height:36px;
	background:white;
	border-bottom:4px solid #1a435f;
}
.nav{
	height:36px;
	width:1300px;
	margin:0 auto;
}
.nav-left{
	width:10px;
	//background: url(../images/nav_left.jpg)no-repeat;    
	height:36px;
}

.nav .nav-mid .nav-mid-left ul li ul li{
	float:none;	
	height:50px;
    line-height:50px;
	vertical-align:middle;
}
.nav .nav-mid .nav-mid-left ul li ul li:hover{
	background:#ff999a;
}
.nav .nav-mid .nav-mid-left ul li ul{
	position:relative;
	width:160px;
	z-index: 6;
	background:white;
	opacity: 0.8;
	margin-top:4px;
	height:440px;
	//margin-left:9px;
	//left:302px;
	//top:150px;
}
.nav-mid{
	width:1280px;
	//background:url(../images/nav_bg.jpg)repeat-x;	
	float: left;
	height:36px;

}
.nav-right{
	width:10px;
	//background:url(../images/nav_right.jpg)no-repeat;
	float: left;
	height:36px;
	
}

.nav-mid-right,.nav-mid-left{
	float: left;
}
.nav-mid-left{
	width:1280px;
}

.nav-mid-left li{
	float:left;
	width:160px;
	line-height:36px;
	height:36px;
	text-align:center;

}

.nav-mid-left a:link,.nav-mid-left a:visited{
	color:#1a435f;
	font-size:14px;
	font-family:"微软雅黑";
	font-weight:bold;
}
.nav-mid-left a:hover,.nav-mid-left a:active{
	color:#ff6825;
	font-size:16px;
	font-family:"微软雅黑";
}
.nav-mid-left .first:hover{
	width:160px;
	height:36px;
	background:#DEDBDB;
}
.ad{
	width:100%;
	height:440px;
	overflow: hidden;
	margin:0 auto;
	

}
 .mid-img{
 	width:1190px;
 	margin:0 auto;
 

 }
.tuijian{
 	width:100%;
 	//height:285px;
 	//background-image: url(../images/bg_back1.jpg);
 	clear:both;

 	
 }
 .tuijian-text{
    width:1300px;
    margin:0 auto;
    margin-top:20px;

 }
 .tuijian-text b{
 	font-size: 22px;
 	font-weight: bold;
 	margin-right: 8px;
 	margin-left:20px;
 	color:#373636;
 }
 .tuijian-text span{
     font-size: 14px;
     color: #555555;
     font-style: italic;
 }
  .line{
 	margin-left:350px;
 }
 .enough ul{
 	width:1300px;
 	margin:0 auto;

 }
 
 .enough ul li{
 	width:300px;
 	height:250px;
    margin-left:10px;
 	margin:10px;
 	float:left;
 	//z-index:1;
 	//border:1px solid red;

 }
 .enough ul li img{
 	width:300px;
 	height:250px;
 	//opacity:0.5;
 }
 .enough .mengban{
 
    position:relative;
 	z-index:2;
 	//background:#4D4B4B;
 	opacity:0.5;
 	width:300px;
 	height:250px;
 	float:left;
 	margin:10px;
 	margin-left:-310px; 	
 }
 .enough .mengban:hover{
 		background:white;
 		opacity:0.3;
 		box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
	-webkit-box-shadow:15px 15px 15px rgba(0,0,0,0.3);
    -moz-box-shadow:15px 15px 15px rgba(0,0,0,0.3);
    -o-box-shadow:15px 15px 15px rgba(0,0,0,0.3);
	//background:#ff6825;

 }
 .goods-show{

 	/* width:100%;
 	height:100%;
 	background:#FAF9F9;
 	z-index:0; */
 	margin-top:10px;

 }
 
 .module{
	width:1300px;
 	margin:0 auto;
 	//margin-top:30px;

 }
 .more{
 	//color:#665F5F;
 	font-family:"宋体";
 	width:1300px;
 	float:left;
 	height:40px;
 	vertical-align:middle;
 	float: left;
 }
 .more-left{
 	margin-left: 25px;
    width:50%;
    float: left;
   font-family: "宋体";
   //padding-top: px;
   font-weight: normal;
   line-height:40px;
   height:40px;
   vertical-align:middle;
  
 }
 .more-left .floornumber{
 	width:40px;
 	height:40px;
 	display:inline-block;
 	background:url(../images/icon.jpg)0 6px no-repeat;
 	float:left;
 	margin-top:-2px;
 	margin-right:6px;
 }
 .more-right{
 	width:40%;
 	float: right;
 	font-size: 14px;
 	//margin-right: 20px;
 	//margin-top:-26px;
 	font-family:"微软雅黑";
 	height:40px;
 	line-height:40px;
 	vertical-align:middle;
 }
 .more-right span{
	float:right;
	//position:relative;
	//width:50px;
    
}
.more-right a{
    color:#333;
}
.more-right a:hover{
	color:#ff6825;
}
.more-right span .duo{
	color:#c6856d;
}
.more-right span .duo:hover{
 	text-decoration:underline;
 	color:#ff6825;
 }
.floor-line{
	float: right;
	display: inline;
	height: 13px;
	width: 1px;
	overflow: hidden;
	background: #ddd;
	margin: 0 10px;
	margin-top: 13px;
	text-align:center;
}

 .goods-showing{
 	width:1300px;
 	margin:0 auto;
 }
.one{

	background:#fff;
    width:250px;
	height:356px;	
	float: left;
	margin-right:8px;
	margin-bottom:8px;
	border:1px solid #C2C1C1;
	
	
}
.one img{
	vertical-align:middle;
	padding:20px;
	
}
.one:hover{
	opacity:1;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow:10px 10px 10px rgba(0,0,0,0.3);
    -moz-box-shadow:10px 10px 10px rgba(0,0,0,0.3);
    -o-box-shadow:10px 10px 10px rgba(0,0,0,0.3);
	background:#ff6825;

}
.des{
	width:210px;
	height:40px;
	padding:20px;
	text-align:center;
}
 h4{
	color:#3A3333;
	
	//text-align:center;
}
strong{
	font-size:18px;
	font-weight: normal;
	//text-align:center;
}

.footer{
     width:100%;
	 float:left;
	text-align:center;
	background-color:#3A3838;
	font-size:15px;
	line-height:28px;
	padding:30px 0;
	color: #8A8787;
	margin-bottom: 0;
}