*{margin: 0;
  padding:0 ;
  
  //background:#DEDBDB;
}
body{
	font-family: "微软雅黑";
  font-size:14px;
}

li{
	list-style: none;
}
input,select,textarea{
	outline: none;
}
textarea{
	resize:none;
}
a{
	text-decoration: none;
	color: #8A8787;
  
}
a:hover{
	color:#D31616;
}
/* 清除浮动*/
.clearfix:after{content:"";display: block;clear: both;}
.clearfix{zoom:1;}
 


.top{
	width:100%;
	height:27px;
	background-color:#E2E0E0;
	
}
.topContent{
	width:1300px;
	margin:0 auto;
	height:27px;
	line-height: 27px;
	text-align: center;
}
.leftArea{
 	float: left;

}
span{
	color:#8C8080;
}
.rightArea ul li{
	
	float : right ;	
	width :100px;
	position:relative;

}
.rightArea ul li ul li{
	float:none;	
	margin-top: 2px;
	background:#fff;
}
.rightArea ul li ul{
	position: absolute;
	display:none;
}
.rightArea ul li:hover ul{
	display:block;
}
.wrap-all{
	width:100%;
	height:447px;
	background:url(../images/轮播back.jpg)no-repeat center top #eae1a0;

}
.wrap{
	margin:0 auto;
	width:1300px;
	height:80px;
}

.logo{
	height:80px;	
	width:1300px;
	

}
.logo-left{
	width:80%;
	float: left;
}
.logo-right{
	width:20%;
	float: right;	
	height:80px;
    line-height:80px;
	color: #878585;
    background: white;
}

.logo-right a{
	color: #83B4D6;
	position:relative;
    
}
.logo-right img {
    
	vertical-align: middle;
	margin-right:10px;
}
.logo-right a ul {
	
	display:none;
}
.logo-right a:hover ul{
    display:block;
    
	
}

.logo-right a ul li img{
	margin-top:20px;
	position:absolute;
	background:#fff;
	z-index:6;
}
.nav{
	height:40px;
	width:1300px;
	float:left;
}
.nav-left{
	width:10px;
	background: url(../images/nav_left.jpg)no-repeat;    
	float: left;
	height:40px;
}

.nav .nav-mid .nav-mid-left ul li ul li{
	float:none;	

	

}
.nav .nav-mid .nav-mid-left ul li ul{
	position:relative;
	
	z-index: 6;
	background:#797676;
	opacity: 0.8;
	margin-left:-9px;
	//left:302px;
	//top:150px;
}
.nav-mid{
	width:1280px;
	background:url(../images/nav_bg.jpg)repeat-x;	
	float: left;
	height:40px;

}
.nav-right{
	width:10px;
	background:url(../images/nav_right.jpg)no-repeat;
	float: left;
	height:40px;
	
}

.nav-mid-right,.nav-mid-left{
	float: left;
}
.nav-mid-left{
	width:980px;
}
.nav-mid-right{
	width:300px;
}
.nav-mid-left li{
	float:left;
	width:150px;
	line-height:40px;
	height:40px;
	text-align:center;

}
.nav-mid-left a:link,.nav-mid-left a:visited{
	color:#fff;
	font-size:16px;
	font-family:"微软雅黑";
}
.nav-mid-left a:hover,.nav-mid-left a:active{
	color:#F6520A;
	font-size:16px;
	font-family:"微软雅黑";
}
.search-text{                                               
	width:190px;
	height:25px;
	margin-top:6px;
    background:url(../images/search.jpg)no-repeat right center;
    background-color:#fff;
    padding-right: 25px;
    border: 1px solid #fff;
}
.ad{
	width:1300px;
	height:310px;
	overflow: hidden;
	float:right;
	

}
 .mid-img{
 	width:1190px;
 	margin:0 auto;

 }
 .enough{
 	width:100%;
 	height:540px;
 	background-image: url(../images/bg_back1.jpg);
 	clear:both;
 	
 }
 .enough ul{
 	width:1300px;
 	margin:0 auto;
 }
 .enough ul li{
 	width:300px;
 	height:250px;
 	margin:10px;
 	float:left;
 	border:1px solid red;

 }
 .goods-show{

 	//background:#FCF8F8;
 	//text-align:center;
	//padding:20px 0;

 }
 
 .module{
	width:1300px;
 	margin:0 auto;
 	//margin-top:30px;

 }
 .more{
 	//color:#665F5F;
 	font-family:"宋体";
 	width:1300px;
 	//float:left;
 	height:40px;
 	vertical-align:middle;
 }
 .more-left{
 	margin-left:25px;
 	width:1200px;
 	float:left;
    //color:#665F5F;
 	font-family:"宋体";
 	padding-top: 20px;
 	font-weight:normal;
 }
 .more-left .icon{
 	width:44px;
 	height:44px;
 	display:inline-block;
 	background:url(../images/address-book.png)top no-repeat;
 	float:left;
 }
 .more-right{
 	padding-top: 20px;
 	float:right;
 	font-size:16px;
 }
 .duo:hover{
 	text-decoration:underline;
 }
 .goods-showing{
 	width:1300px;
 	margin:0 auto;
 }
.one{

	//background:#DCD8D8;
    width:250px;
	height:356px;	
	float: left;
	margin-right:4px;
	border:1px solid #C2C1C1;
	
	
}
.one img{
	vertical-align:middle;
	padding:20px;
}
.one:hover{
	opacity:1;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow:10px 10px 10px rgba(0,0,0,0.3);
    -moz-box-shadow:10px 10px 10px rgba(0,0,0,0.3);
    -o-box-shadow:10px 10px 10px rgba(0,0,0,0.3);
	background:#ff6825;
}
.des{
	width:210px;
	height:40px;
	padding:20px;
	text-align:center;
}
 h4{
	color:#3A3333;
	
	//text-align:center;
}
strong{
	font-size:18px;
	font-weight: normal;
	//text-align:center;
}

.footer{
     width:100%;
	 float:left;
	text-align:center;
	background-color:#3A3838;
	font-size:15px;
	line-height:28px;
	padding:30px 0;
	color: #8A8787;
	margin-bottom: 0;
}